extends layout.pug

block content
  section#account-edit.row.content(role="region")
    .col-12
      h2 Edit Account Info
      form#account-form(role="form", action="/account/edit", method="post")
        label(for="first-name") first name:
        input#first-name.form-input(type="text", name="firstName", value=account.firstName, placeholder="first name")
        label(for='last-name') last name:
        input#last-name.form-input(type="text", name="lastName", value=account.lastName, placeholder="last name")
        label(for="email") email:
        input#email.form-input(type="email", name="email", value=account.email, placeholder="email")
        input(type="submit", value="save")
