extends layout.pug

block content
  section#home(role='region')
    #welcome-img
      #welcome-text
        p Try on dresses, upload photos,
        p compare and select the one!
  
  section.row(role='region')
    .col-12
      h2 About
      p.info-text Finding the perfect dress can be a challenging task.  There are so many beautiful dresses availabe to choose from! Select the Dress is here to help you compare your options and select the perfect one!
      p.info-text.inline Learn more about how it works 
      a.link.underline.inine(href='/how-it-works') here.
