extends layout.pug

block content
  section#home.row.content(role='region')
    .col-12
      p Upload photos, compare dresses and select the one!
      a.button(href='/sign-up') Get started!
      p Already have an account?
      a.button(href='/log-in') Log in!
