extends layout.pug

block content
  section#home.row.content(role='region')
    .col-12#welcome-img
      #welcome-text
        p Try on dresses, upload photos,
        p compare and select the one!
        a.button(href='/sign-up') Get started!
    
    .col-12#how-it-works
      h2 How it works
      p Upload front, back and side view of each dress you want to compare
      p Include details such as designer, style, price, store and notes
      p Add a rating to show how much you like the dress
      p View all dresses you have tried on
      p Compare two dresses side by side
      p Share a link with your friends and family to see what they think
      p Select the one!
