doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")

    title Select the Dress

    meta(name="description", content="compare, rate and select the perfect dress")
    meta(name="keywords", content="dress, wedding, compare, comparison, dresses")

    link(rel="stylesheet", href="/css/styles.css")

  body
    header(role="banner")
      h1 Select the Dress
      a(href='/sign-up') Sign Up
      a(href='/log-in') Log In

    main(role="main")

      block content

    script(src="/main.js")
