doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")

    title Select the Dress

    meta(name="description", content="compare, rate and select the perfect dress")
    meta(name="keywords", content="dress, wedding, compare, comparison, dresses")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bad+Script")
    link(rel="stylesheet", href="/css/float-grid.css")
    link(rel="stylesheet", href="/css/styles.css")

  body
    header(role="banner")
      .row
        .col-6
          a#logo(href="/") Select the Dress
        .col-6
          ul.header-links
            li
              a(href='/sign-up') Sign Up
            li
              a(href='/log-in') Log In

    main(role="main")

      block content

    script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
    script(src="/main.js")
