doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")

    title Select the Dress

    meta(name="description", content="compare, rate and select the perfect dress")
    meta(name="keywords", content="dress, wedding, compare, comparison, dresses")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Josefin+Slab")
    link(rel="stylesheet", href="/css/float-grid.css")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet",
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="stylesheet", href="/css/styles.css")

  body
    header(role="banner")
      .row
        .col-6#logo-box
          a#logo(href="/") Select the Dress
        .col-6#link-box
          ul.header-links
            if user
              li
                a.link(href='/dresses') Dresses
              li
                a.link(href='/account') My Account
              li
                a.link(href='/log-out') Log Out
            else
              li
                a.link(href='/sign-up') Sign Up
              li
                a.link(href='/log-in') Log In

    main(role="main")
      .row
        if messages.errors.length > 0
          .error.messageBox
            each error in messages.errors
              p= error
            
        if messages.success.length > 0
          .success.messageBox
            p= messages.success

      block content

    script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
    script(src="/js/jquery.deserialize.js")
    script(src="/js/main.js")
