extends layout.pug

block content
  section#log-in.row.content(role="region")
    .col-12
      h2 Log In
      
      form#log-in-form(role="form", action="/log-in", method="post")
        label(for="email") email:
        input#email.form-input(type="email", name="email", placeholder="example@gmail.com")
        
        label(for='password') password:
        input#password.form-input(type="password", name="password", placeholder="password")
        
        input(type="submit", value="log in")
      
      .col-12 
        p
          | don't have an account: 
          a.link.underline(href="/sign-up") sign up
  
      .col-12
        include includes/demo-login.pug
