body {
  font-family: 'Bad Script', cursive;
  text-align: center;
  margin: 0 auto;
}

h1 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

.error-messsage {
  color: red;
}

.hidden {
  display: none;
}

/* home */
#logo {
  font-size: 30px;
}

.header-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-links li {
  display: inline-block;
  padding: 10px;
}

.link:hover {
  text-decoration: underline;
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}


/* forms */
form {
  max-width: 500px;
  margin: 0 auto;
}

form label {
  text-align: right;
  padding: 0 15px;
  width: 35%;
  vertical-align: top;
}

input[type=text], input[type=email], input[type=password], textarea, input[type="file"], form #rating {
  width: 65%
}

form label, input[type=text], input[type=email], input[type=password], input[type="file"], form #rating {
  display: inline-block;
  margin-bottom: 10px;
  height: 35px;
}

input[type=submit], .button {
  display: inline-block;
  margin: 10px auto;
  padding: 0 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  font-family: 'Bad Script', cursive;
  font-size: 18px;
}

input[type=submit]:hover, .button:hover {
  background-color: #202226;
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.form-input-disabled, .form-input {
  padding-left: 15px;
  font-family: 'Bad Script', cursive;
  font-size: 20px;
  color: black;
}

.form-input-disabled {
  border-style: none;
}

input[type="submit"]:disabled, input[type="submit"]:disabled:hover {
    background: #dddddd;
}

/* dresses */
.select-dropdown {
  font-family: 'Bad Script', cursive;
  background-color: white;
  font-size: 18px;
}

.sort {
  text-align: center;
  margin-bottom: 10px;
}

.sort label {
  margin-right: 15px;
}

#add-btn, #compare-btn {
  display: inline-block;
  margin: 10px;
}

.dress-box {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 15px;
}

.dress-img {
  width: 100%

}
.rating {
  margin: 0 2px;
}
.checked {
  color: red;
}

/* dress */
.main-dress {
  width: 300px;
}

#large-img {
  width: 500px
}

#thumbs img {
  width: 100px;
  margin: 0 3px;
}

#delete-btn {
  display: block;
  width: 80px;
}

/* compare */
.dressA p, .dressB p, .labels p {
  margin: 0;
}

.fixed-height {
  height: 50px;
}
