body {
  font-family: 'Josefin Slab', serif;
  color: #202020;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  /*background-image: url(../img/white-sand.png)*/
}

h2 {
  margin: 20px 0;
}

a {
  text-decoration: none;
  color:#202020;
}

img {
  border: 1px solid #202020;
  border-radius: 3px;
  width: 100%
}

.hidden {
  display: none;
}

/* hide but keep space */
.invisible {
  visibility: hidden;
}

.error-text {
  color: #D8000C;
}

.error {
  color: #D8000C;
  background-color: #FFBABA;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.messageBox p {
  padding: 5px;
}

footer {
  height: 50px;
}

/* home */
header {
  margin: 20px 0 0 0;
}

.header {
  border-bottom: 1px solid #202020;
}

#logo {
  font-size: 45px;
  font-weight: bold;
}

#link-box {
  margin-top: 5px;
}

.header-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-links li {
  display: inline-block;
  padding: 10px;
}

.link:hover {
  text-decoration: underline;
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

#welcome-img {
  position: relative;
  height: 490px;
  background-image: url(http://res.cloudinary.com/amhprojects/image/upload/v1509324060/dresses/shopping2.jpg);
  background-repeat: no-repeat;
  /*background-image: url(http://res.cloudinary.com/amhprojects/image/upload/v1509322546/dresses/shopping.jpg);*/
}

#welcome-text {
  position: absolute;
  top: 170px;
  right: 30px;
}

#welcome-text p {
  font-size: 45px;
  margin: 0 0 10px 0;
}

.demo-img {
  width: 75%;
  margin-bottom: 20px;
}

/* forms */
form {
  max-width: 520px;
  margin: 0 auto;
}

form label {
  text-align: right;
  padding: 0 15px;
  width: 35%;
}

.top-label {
  vertical-align: top;
}

input[type=text], input[type=email], input[type=password], textarea, input[type="file"], form #rating {
  width: 65%;
}

form label, input[type=text], input[type=email], input[type=password], input[type="file"], form #rating {
  display: inline-block;
  margin-bottom: 10px;
  height: 35px;
}

input[type=submit], .button, .disabled-btn {
  display: inline-block;
  margin: 5px auto;
  padding: 5px 20px;
  border: 1px solid #202020;
  border-radius: 3px;
  background-color: white;
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
}

input[type=submit] {
  float: right;
}

input[type=submit]:hover, .button:hover {
  background-color: #202020;
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

textarea {
  resize: vertical;
}

.form-input {
  padding: 10px;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  color: #202020;
  border: 1px solid #202020;
  border-radius: 3px;
}

input[type="submit"]:disabled, .disabled-btn, input[type="submit"]:disabled:hover {
  background: #CCCCCC;
  color: #666666;
  cursor: default;
  box-shadow: none;
}

.form-dropdown {
  background-color: white;
}

/* dresses */
#add-btn, #compare-btn {
  width: 200px;
  text-align: center;
}

.select-dropdown {
  font-family: 'Josefin Slab', serif;
  background-color: white;
  font-size: 18px;
  border: 1px solid #202020;
  border-radius: 3px;
  height: 30px;
  margin: 10px 0;
  /*background-image: url(../img/pink-church.png);*/
}

.select-dropdown:hover {
  cursor: pointer;
}

.sort label {
  margin-right: 15px;
  display: inline-block;
}

.dress-box {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 15px;
}

.photo-box {
  position: relative;
}

.dress-link:hover, #thumbs img:hover {
  opacity: .7;
  cursor: pointer;
}

.rating-tag {
  position: absolute;
  left: 20px;
  top: 10px;
}

.rating:hover {
  cursor: pointer;
  opacity: .7;
}

.info-tag {
  position: absolute;
  margin: 0;
  padding: 5px 0;
  bottom: 11px;
  width: 100%;
  border: 1px solid #202020;
  background-color: white;
  opacity: .8;
  color: #202020;
  font-size: 16px;
}

.designer-tag, price-tag {
  padding: 0 10px;
}

.compare-options {
  position: absolute;
}

.rating {
  margin: 0 2px;
}

.checked {
  color: #ff6a80;
}

.compare-square {
  margin-right: 5px;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

/* dress */
#dress-info {
  text-align: left;
  padding-left: 20px;
}

.info-label {
  text-decoration: underline;
  margin-top: 0;
}

.info-data {
  min-height: 20px;
  margin-top: 0;
  padding-left: 15px;
}

#thumbs img {
  margin: 0 3px;
  width: 125px;
}

#edit-submit, #delete-btn {
  width: 90px;
}

#delete-btn {
  display: block;
  clear: right;
}

/* dress edit */
#edit-dress {
  padding-top: 25px;
}

/* compare */
.dressA p, .dressB p, .labels p {
  margin: 0;
}

.fixed-height {
  min-height: 30px;
}

.compare-row {
  margin-bottom: 15px;
}
